Not encoding/decoding to base64url

I noticed that the utility class util.ts is not encoding to base64url. According to the specification CTA-5007-A. Correct me if I am wrong.

4.3.1 Encodings
4.3.1.1
CWT Encoding
The token MUST be created and validated according to the process defined in RFC 8392 Section 7 to
create a Signed, MACed, or encrypted CWT. After creating, it MUST be base64url-encoded according to
the RFC 4648 Section 5. Before validation, it MUST be base64url-decoded.

Adding should do the trick in toBase64NoPadding
.replace(/\+/g, '-')
.replace(/\//g, '_')

Sincerely Axel

Yes but "base64url" does not allow plus, slash and no need for padding.

section 5. "Base 64 Encoding with URL and Filename Safe Alphabet" 
https://datatracker.ietf.org/doc/html/rfc4648#section-5

For example (v0.14.3): 
cat.test.ts row 110. The variable base64encoded should be base64url encoded and not base64 encoded.
It contains the characters + and /.

```
// row 110 in cat.test.ts
test('can create a CAT object from a mac:ed base64 encoded token', async () => {
    const base64encoded =
      '0YRDoQEEoQRMU3ltbWV0cmljMjU2eKZkOTAxMDNhNzAxNzU2MzZmNjE3MDNhMmYyZjYxNzMyZTY1Nzg2MTZkNzA2YzY1MmU2MzZmNmQwMjY1NmE2ZjZlNjE3MzAzNzgxODYzNmY2MTcwM2EyZjJmNmM2OTY3Njg3NDJlNjU3ODYxNmQ3MDZjNjUyZTYzNmY2ZDA0MWE1NjEyYWViMDA1MWE1NjEwZDlmMDA2MWE1NjEwZDlmMDA3NDIwYjcxSKuCk/+kFmlY';
```

My suggestion is to modify toBase64NoPadding. I understand that this change might need to be applied in other parts of the codebase as well.

```
function toBase64NoPadding(input) {
    const base64 = toBase64(input);
    return base64.replace(/=+$/, '') // <- handels padding
        .replace(/\+/g, '-') // replace + with -
        .replace(/\//g, '_'); // replace / with _
}
```

Ok then I got it. Thanks for clarifying to me